<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/EditBlog.css' %}?v=2">
<script src="{% static 'js/TinyMCE.js' %}"></script>
<div class="container" style="margin-top:120px; margin-bottom: 100px;">
   <form action="{% url 'Add_Blogs' cat.cat_id %}" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <div class="row mb-3">
           <div class="col-sm-12">
               <label for="title" class="form-label">Blog Title</label>
               <input type="text" class="form-control" id="title" name="title" placeholder="Enter Your Blog Title" required>
           </div>
       </div>
       <div class="row mb-3">
           <div class="col-sm-12">
               <label for="id_content" class="form-label">Blog Content</label>
               <textarea class="form-control" id="id_content" name="content" placeholder="Write Down Your Blog Content And Edit it"></textarea>
           </div>
       </div>
       <div class="row mb-3">
           <div class="col-sm-12">
               <label for="thumbnail" class="form-label">Choose Your Blog Thumbnail</label>
               <input class="form-control" type="file" id="thumbnail" name="thumbnail" required>
           </div>
       </div>
       <div class="row mb-3">
           <div class="col-sm-12">
               <button type="submit" class="btn">Upload</button>
           </div>
       </div>
   </form>
</div>

{% endblock %}