{% extends 'base.html' %}

{% block blogsactive %}active{% endblock %}
{% block search %}
     <li class="nav-item ml-2 my">
         <form method="get" action="{% url 'Category_Search' %}?v=2" class="d-flex" role="search">
             <input class="form-control me-2" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
             <button class="btn" type="submit">Search</button>
         </form>
     </li>
{% endblock %}
{% block body %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/BlogHome.css' %}">
    <div class="container" style="margin-top: 120px; margin-bottom: 100px;">
        <h1>Blogs Categories</h1>
        <div class="row">
            {% for cat in Cats %}
                <div class="col-md-3 mb-3">
                    <div class="card mt-4 div-border">
                        <img src="{{ cat.image.url }}" class="card-img-top" height="200px" width="200px" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ cat.title }}</h5>
                            <p class="card-text">{{ cat.desc }}</p>
                            <a href="{% url 'Categories' cat.cat_id %}" class="btn" role="button">View Blogs</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
                {% empty %}
                <center><h3 class="search-result"><b><u>{{ query }}</u></b> is Not Found ...</h3></center>
            {% endfor %}
        </div>
    </div>

{% endblock body %}