{% extends 'base.html' %}
{% block chatbotactive %}active{% endblock %}
{% load static %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ChatBot.css' %}?v=2">
    <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
        <div id="message-container" class="message-container">
            <div class="message">
                <img src="{% static 'img/chatbot.webp' %}" class="bot-image img-fluid"><div class="bot-message">{{ msg }}</div>
            </div>
            {% for message in previous_msgs_list %}
                <div class="message">
                    {% if 'User:' in message %}
                        {% if request.user.is_authenticated %}
                            <img src="{{ request.user.profile.photo.url }}" class="user-image"><div class="user-message">{{ message|slice:"6:" }}</div>
                        {% else %}
                            <img src="{% static 'img/profile.jpeg' %}" class="user-image"><div class="user-message">{{ message|slice:"6:" }}</div>
                        {% endif %}
                    {% elif 'Bot:' in message %}
                        <img src="{% static 'img/chatbot.webp' %}" class="bot-image img-fluid"><div class="bot-message">{{ message|safe|slice:"5:" }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <form action="{% url 'Result' %}" method="post">{% csrf_token %}
            <input type="text" class="form-control" id="msg" name="msg" placeholder="Enter Your Issue" autofocus required>
        </form>
    </div>
    <script>
        // JavaScript to automatically scroll to the bottom of the message container
        var messageContainer = document.getElementById('message-container');
        messageContainer.scrollTop = messageContainer.scrollHeight;
    </script>
{% endblock %}