{% extends 'base.html' %}

{% block videosactive %}active{% endblock %}

{% block body %}
{% load static %}
{% load humanize %}
{% load extras %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Full_Size.css' %}?v=2">

<div class="container" style="margin-top:120px; margin-bottom: 100px;">
    <div class="container mt-4">
        <div class="embed-responsive embed-responsive-16by9">
            <video src="{{ v.video_file.url }}" class="embed-responsive-item" loop autoplay controls></video>
        </div>
    
        <div class="row border1 mt-4">
            <div class="col-sm-12">
                <div class="row align-items-center">
                    <!-- User Profile Image -->
                    <div class="col-3 col-lg-1">
                        <img src="{{ v.user.profile.photo.url }}" height="70px" width="70px" class="rounded-circle img">
                    </div>
                    
                    <!-- User Name and Date -->
                    <div class="col-9 col-lg-5 mt-2 mt-lg-0">
                        <a href="{% url 'UserProfile' v.user.id %}"><b><u>{{ v.user }}</u></b></a>
                        <br>
                        <p>{{ v.date }}</p>
                    </div>
    
                    <!-- Likes, Views, and Comments -->
                    <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                        <div class="row text-center">
                            <div class="col-4 mt-2 mt-lg-0">
                                <img src="{% static 'img/like.png' %}" height="20px" width="20px">
                                <span>({{ v.likes }})</span>
                            </div>
                            <div class="col-4 mt-2 mt-lg-0">
                                <img src="{% static 'img/views.png' %}" height="20px" width="20px">
                                <span>({{ v.views }})</span>
                            </div>
                            <div class="col-4 mt-2 mt-lg-0">
                                <img src="{% static 'img/comment.png' %}" height="20px" width="20px">
                                <span>({{ total_comments }})</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-2">
        <h4 class="card-title">{{ v.title }}</h4>
        <p>{{ v.desc }}</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10">
            <h2>Comments ({{ total_comments }})</h2>
            {% if user.is_authenticated %}
                <div class="fb-share-button"
                    data-href="http://127.0.0.1:8000/Blog/FullSizeVideo/{{v.v_id}}"
                    data-layout="button_count">
                </div>
            {% endif %}
        </div>
        <div class="col-2">
            {% if user.is_authenticated %}
                <form action="{% url 'VideoLike' v_id=v.v_id %}" method="post">{% csrf_token %}
                    <button class="button"><img src="{% static 'img/like.png' %}" height="20px" width="20px"></button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="my-2">
        {% if user.is_authenticated %}
        <form action="{% url 'VideoComment' %}" method="post">{% csrf_token %}
            <div class="form-group mt-4">
                <label for="comment">Post Comment</label>
                <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter Comment Here ..." required>
                <input type="hidden" name="post_id" value="{{ v.v_id }}">
                <input type="hidden" name="parent_c_no" value="">
                <input type="submit" class="btn mt-3" value="Post Comment">
            </div>
        </form>
        {% else %}
        <p>Please Login To Post a Comment</p>
        {% endif %}
    </div>

    {% for comment in comments %}
    <div class="row my-3">
        <div class="col-md-1"><img class="rounded-circle img" src="{{ comment.user.profile.photo.url }}" height="50px" width="50px"></div>
        <div class="col-md-11"><b>{{ comment.user.username }}</b>  <span class="badge badge-secondary">{{ comment.timestamp | naturaltime }}</span>
            <div>{{ comment.comment }}</div>

            <div class="reply mx-0 mt-2">
                {% if user.is_authenticated %}
                <a class="btn" data-bs-toggle="collapse" href="#replayBox{{ comment.c_no }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Reply To Comment
                </a>
                <div class="collapse" id="replayBox{{ comment.c_no }}">
                    <div class="card card-body my-2">
                        <form action="{% url 'VideoComment' %}" method="post">{% csrf_token %}
                            <div class="form-group mt-4">
                                <label for="comment_r">Post Reply</label>
                                <input type="text" class="form-control" id="comment_r" name="comment" placeholder="Enter Comment Here ..." required>
                                <input type="hidden" name="parent_c_no" value="{{ comment.c_no }}">
                                <input type="hidden" name="post_id" value="{{ v.v_id }}">
                                <input type="submit" class="btn mt-3" value="Post Reply">
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                <a class="btn btn-danger disabled" data-bs-toggle="collapse" href="#replayBox{{ comment.c_no }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Login To Reply
                </a>
                {% endif %}
                <div class="replies">
                    {% for reply in repDict|get_val:comment.c_no %}
                    <div class="row mt-3">
                        <div class="col-md-1"><img class="rounded-circle img" src="{{ reply.user.profile.photo.url }}" height="50px" width="50px"></div>
                        <div class="col-md-11"><b>{{ reply.user.username }}</b>  <span class="badge badge-secondary">{{ reply.timestamp | naturaltime }}</span>
                            <div>{{ reply.comment }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}
